<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Update Artist</b></h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" routerLink="/ArtistsList" class="btn btn-success back"><i
                                class='fas fa-arrow-circle-left'></i>
                            Back</a>
                    </div>
                </div>
            </div>
            <form #artistForm="ngForm">
                <div class="table-content">
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="Name" class="p-t-b-10">Name<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Name" required maxlength="255"
                                [(ngModel)]="updateArtistForm.Name" name="Name" #Name="ngModel">
                        </div>
                    </div>
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="YearOfBirth" class="p-t-b-10">Year Of Birth<span
                                    class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="YearOfBirth" required maxlength="255"
                                [(ngModel)]="updateArtistForm.YearOfBirth" name="YearOfBirth" #YearOfBirth="ngModel">
                        </div>
                    </div>
                </div>
                <div class="table-footer">
                    <button class="btn btn-success" (click)="UpdateArtist(artistForm.form.valid)">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>