<div class="row">
  <div class="col-sm-10">
    <h4><b>Manage Employees</b></h4>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-outline-success" (click)="CreateArtist()">
      <i class='fas fa-plus-circle'></i><span> ADD</span>
    </button>
  </div>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Year Of Birth</th>
      <th class="td-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let artist of artistsList" class="center-align">
      <td>{{ artist.id }}</td>
      <td>{{ artist.name }}</td>
      <td>{{ artist.yearOfBirth }}</td>
      <td class="td-center">
        <a href="#" [routerLink]="['/ArtistDetail/', artist.id]" class="btn btn-success btn-space">Info</a>
        <a href="#" [routerLink]="['/UpdateArtist/', artist.id]" class="btn btn-primary btn-space">Update</a>
        <button type="button" (click)="deleteArtist(artist)" class="btn btn-danger btn-space">Delete</button>
      </td>
    </tr>
    <td *ngIf="artistsList.length == 0" colspan="6">No Artist Found</td>
  </tbody>
</table>